form{
    width: 350px;
    height: 300px;
    box-shadow: 0px 10px 25px rgba(3, 57, 165, 0.432);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
label{
    color: red;
}
.btn{
   width: 120px;
   height: 40px;
   margin: 10px;
   border: none;
   box-shadow: 0px 5px 10px rgba(4, 66, 190, 0.411);
   border-radius: 10px; 
   font-size: 20px;
}
.todoForm__textArea{
    border: none;
    margin: 10px;
    box-shadow: 0px 2px 10px rgba(9, 77, 212, 0.411);
    border-radius: 5px;
    font-size: 20px;
}
.todoForm__btn-cancel:hover{
    background-color:  #FD8A8A;
    color: white;
}
.todoForm__btn-add:hover{
    background-color: #A8D1D1;
    color: white;
}