.CreateTodoButton{
    font-size:45px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    transform: roate(0);
    transition: 0.3s ease;
    text-decoration: none;
    appearance: none;
}
.CreateTodoButton:hover{
    transform: rotate(270deg);
    color: rgba(4, 49, 138, 0.89);

}